<header class="row w-100">
            
             <h1 class="col-sm-8 pt-4"><a href="/">Sebasti&atilde;o Salgado</a></h1>
            
            <nav class="col-md pt-4 navbar nav-custom">
                
                <ul>
                    <div class="row">
                        <li class="col">
                            <a href="/about">ABOUT</a>
                        </li>
                        <li class="col">
                            <a href="/works">WORKS</a>
                        </li>
                        <li class="col">
                            <a href="/gallery">GALLERY</a>
                        </li>
                    </ul>
                </div>
            </nav>
 </header>