<article id="bio" class="row mt-4">
            <img src="/images/Sebastiao_Salgado_portrait.jpg" alt="" class="col-md-6">
            <div class="col-md-6">

                <p>Salgado was born on February 8, 1944 in Aimorés, in the state of Minas Gerais, Brazil. After a
                    somewhat
                    itinerant childhood, Salgado initially trained as an economist, earning a master’s degree in
                    economics
                    from the University of São Paulo in Brazil. He began work as an economist for the International
                    Coffee
                    Organization, often traveling to Africa on missions for the World Bank, when he first started
                    seriously
                    taking photographs. He chose to abandon a career as an economist and switched to photography in
                    1973,
                    working initially on news assignments before veering more towards documentary-type work. Salgado
                    initially worked with the photo agency Sygma and the Paris-based Gamma, but in 1979, he joined the
                    international cooperative of photographers Magnum Photos. He left Magnum in 1994 and with his wife
                    Lélia
                    Wanick Salgado formed his own agency, Amazonas Images, in Paris, to represent his work. He is
                    particularly noted for his social documentary photography of workers in less developed nations.
                    They
                    reside in Paris.</p>
                <p>He has been a UNICEF Goodwill Ambassador since 2001.</p>
                <p>Salgado works on long term, self-assigned projects many of which have been published as books: The
                    Other
                    Americas, Sahel, Workers, Migrations, and Genesis. The latter three are mammoth collections with
                    hundreds of images each from all around the world. His most famous pictures are of a gold mine in
                    Brazil
                    called Serra Pelada.</p>
                <p>Together, Lélia and Sebastião have worked since the 1990s on the restoration of a part of the
                    Atlantic
                    Forest in Brazil. In 1998, they succeeded in turning 17,000 acres into a nature reserve and created
                    the
                    Instituto Terra. The institute is dedicated to a mission of reforestation, conservation and
                    environmental education.</p>
                <p>Between 2004 and 2011, Salgado worked on Genesis, aiming at the presentation of the unblemished faces
                    of
                    nature and humanity. It consists of a series of photographs of landscapes and wildlife, as well as
                    of
                    human communities that continue to live in accordance with their ancestral traditions and cultures.
                    This
                    body of work is conceived as a potential path to humanity’s rediscovery of itself in nature.</p>
                <p>In September and October 2007, Salgado displayed his photographs of coffee workers from India,
                    Guatemala,
                    Ethiopia and Brazil at the Brazilian Embassy in London. The aim of the project was to raise public
                    awareness of the origins of the popular drink.</p>
                <p>Salgado and his work are the focus of the film The Salt of the Earth (2014), directed by Wim Wenders
                    and
                    Salgado's son, Juliano Ribeiro Salgado, and produced by Lélia Wanick Salgado. The film won a special
                    award at Cannes Film Festival and was nominated for the best Documentary Feature at the 2015
                    Academy
                    Awards. It won the 2014 Audience Award at the San Sebastián International Film Festival and the
                    2015
                    Audience Award at the Tromsø International Film Festival. It also won the César Award for Best
                    Documentary Film at the 40th César Awards.</p>
            </div>
        </article>
    