<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="w-90">
    <div class="container-md w-100">

        <header class="row w-100">

            <h1 class="col-sm-8 pt-4"><a href="/">Sebasti&atilde;o Salgado</a></h1>
            <nav class="col-md pt-4 navbar nav-custom">
                <ul>
                    <div class="row nav-list-container">
                        <li class="col nav-list">
                            <a href="/about">ABOUT</a>
                        </li>
                        <li class="col nav-list active">
                            <a href="/works">WORKS</a>
                        </li>
                        <li class="col nav-list">
                            <a href="/gallery">GALLERY</a>
                        </li>
                </ul>
            </nav>
        </header>
        <article class='mt-5 w-75 '>
            <div class="row book-item mb-3">
                <img src="/images/genesis.jpg" class="col-md-4" alt="...">
                <div class="col-md">
                    <h5 class="book-title">GENESIS</h5>
                    <p class="book-text">On a very fortuitous day in 1970, 26-year-old Sebastião Salgado held a camera
                        for the first time. When he looked through the viewfinder, he experienced a revelation: suddenly
                        life made sense. From that day onward―though it took years of hard work before he had the
                        experience to earn his living as a photographer―the camera became his tool for interacting with
                        the world. Salgado, who “always preferred the chiaroscuro palette of black-and-white images,”
                        shot very little color in his early career before giving it up completely.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="row book-item mb-3">
                <img src="/images/workers.jpg" class="col-md-4" alt="...">
                <div class="col-md">
                    <h5 class="book-title">WORKERS</h5>
                    <p class="book-text">More than those of any other living photographer, Sebastião Salgado's
                        images of the world's poor stand in tribute to the human condition. His transforming
                        photographs bestow dignity on the most isolated and neglected, from famine-stricken refugees
                        in the Sahel to the indigenous peoples of South America. "Workers" is a global epic that
                        transcends mere imagery to become an affirmation of the enduring spirit of working women and
                        men. The book is an archaeological exploration of the activities that have defined labor
                        from the Stone Age through the Industrial Age, to the present. Divided into six
                        categories--"Agriculture," "Food," "Mining," "Industry," "Oil" and "Construction"--the book
                        unearths layers of visual information to reveal the ceaseless human activity at the core of
                        modern civilization. Extended captions provide a historical and factual framework for the
                        images. "Salgado unveils the pain, the beauty, and the brutality of the world of work on
                        which everything rests," wrote Arthur Miller of this photobook classic, upon its original
                        publication in 1993. "This is a collection of deep devotion and impressive skill." An elegy
                        for the passing of traditional methods of labor and production, "Workers" delivers a message
                        of endurance and hope.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="row book-item">

                <img src="/images/gold.jpg" class="col-md-4" alt="...">
                <div class="col-md">
                    <h5 class="book-title">GOLD</h5>
                    <p class="book-text">When Sebastião Salgado was finally authorized to visit Serra Pelada in
                        September 1986, having been blocked for six years by Brazil’s military authorities, he
                        was ill-prepared to take in the extraordinary spectacle that awaited him on this remote
                        hilltop on the edge of the Amazon rainforest. Before him opened a vast hole, some 200
                        meters wide and deep, teeming with tens of thousands of barely-clothed men. Half of them
                        carried sacks weighing up to 40 kilograms up wooden ladders, the others leaping down
                        muddy slopes back into the cavernous maw. Their bodies and faces were the color of
                        ochre, stained by the iron ore in the earth they had excavated.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </article>
    </div>

</html>